.header{
  display: grid;
  grid-template-columns: 33% 33% 33%;

padding: 15px 50px;
align-items: center;
img{
  height: 35px;
  object-fit: cover;

  padding: 0 20px;
  cursor: pointer;
}
  .logement, .connexion{
    display: flex;
    align-items: center;
    li{
      margin: 0 10px;
      font-weight: 600;
    }
  }
  .logement{
    .loge2{
      font-weight: 200;
      
    }
  }
  .connexion{
    
    .burger{
      padding:0 10px;
      border-radius: 30px;
      border: 1px solid rgba(2, 2, 2, 0.741);
      a{
        font-size: 1.4rem;
        margin: 0 6px;
      }
    }
  }
}